# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../ZT_wanshu_83/.idea/dataSources/
/../../ZT_wanshu_83/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../ZT_wanshu_83/.idea/httpRequests/
